<!--==========================
Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!--<a href="#hero"><img src="../static/images/MyPortfolio_Logo_title.png" alt="" title="" /></a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <h1><a href="/home">MyPortFolio</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                {% if session['loggedin'] == True %}
                    <li><a href="/home">Home</a></li>
                    <li><a href="/messages">Messages</a></li>
                    {% if notification_counts == 0 %}
                        <li><a href="#">No New Notifications</a></li>
                    {% else %}
                        {% if session["data"]["status"] == "employer" %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                                   href="#">{{ notification_counts }} Notifications</a>
                                <div class="dropdown-menu">
                                    {% for i in notification %}
                                        <a class="dropdown-item"
                                           href="{{ url_for("show_application", applicant = i[0], job = i[1]) }}"
                                           style="color:black;display:block">{{ i[0] }} has applied for your job
                                            post {{ i[2] }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                                   href="#">{{ notification_counts }} Notifications</a>
                                <div class="dropdown-menu">
                                    {% for i in notification %}
                                            <a class="dropdown-item"
                                               href="{{ url_for(".user", job = i[0], result = i[2], id = i[1]) }}"
                                               style="color:black;display:block">Your application for {{ i[0] }} has been {{ i[2] }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{{ url_for('help') }}">FAQ</a></li>

                    {% if session['data'] != null %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                               href="#">
                                {{ session['data']['username'] }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for("logout") }}">{{ i }}</a>
                            </div>
                        </li>

                    {% endif %}
                {% else %}
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#team">About Us</a></li>
                    <li><a href="{{ url_for('main') }}">Sign In or Register</a></li>
                {% endif %}
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->