{% extends 'index.html' %}

{% block inlinecss %}

<style>

    .center-on-page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    h1 {
        text-align: center;
    }
    /* Reset Select */
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #2c3e50;
        background-image: none;
    }
    /* Custom Select */
    .select {
        position: relative;
        display: block;
        width: 20em;
        height: 3em;
        line-height: 3;
        background: #fff;
        overflow: hidden;
        border-radius: .25em;
    }
    select {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 0 0 .5em;
        color: #fff;
        cursor: pointer;
    }
    select::-ms-expand {
        display: none;
    }
    /* Arrow */
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 1em;
        background: #34495e;
        pointer-events: none;
    }
    /* Transition */
    .select:hover::after {
        color: #fff;
    }
    .select::after {
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }
</style>
{% endblock %}
{% block body %}

   <section id="contact">
      <div class="container wow fadeInUp">

      </div>



      <div class="container wow fadeInUp">
        <!--<div class=" justify-content-center">-->
		<div class="form" style="margin-top : 100px;">

		<div id="sendmessage">Your message has been sent. Thank you!</div>
		 <div id="errormessage"></div>
		<form action="" method="post" role="form" class="contactForm">
		<div class='row'>

			<div class="container col-lg-4 col-md-4" align="center">

				  <h4 style="text-align:center;">Gender</h4>

					<div style="border:3px solid;background-color:#FFF;width:200px;">

					<label class="radio-inline">
						<input type="radio" name="optradio" required>Male
					</label>
					<label class="radio-inline">
						<input type="radio" name="optradio">Female
					</label>
					<label class="radio-inline">
						<input type="radio" name="optradio">Others
					</label>
					</div>

					<br>
					<br>

					<h4 style="text-align:center;">Qualification</h4>

					<div style="border:3px solid;background-color:#FFF;width:250px;">
					<label class="radio-inline">
						<input type="radio" name="optradio1" required>Pre-College
					</label>
					<label class="radio-inline">
						<input type="radio" name="optradio1">College
					</label>
					<label class="radio-inline">
						<input type="radio" name="optradio1">Others
					</label>
					</div>
			</div>


			 <div class="col-lg-2 col-md-2">

            <div class="info">
              <div>
                <br>
				<div style="height:28px;font-size:1px;">&nbsp;</div>

                <p>Enter Full name:</p>
              </div>

              <div>

                <p>Enter Email:</p>
              </div>

              <div>

                <p>Enter Password:</p>
              </div>
			  <div>

                <p>Enter Number:</p>
              </div>
            </div>



			</div>

				<div class="col-lg-6 col-md-6">

				  <h3 style="text-align:center;">Security</h3>

					<div class="form-group">
					  <input type="text" name="name" class="form-control" id="name" placeholder="Full name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
					  <div class="validation"></div>
					</div>
					<div class="form-group">
					  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
					  <div class="validation"></div>
					</div>
					<div class="form-group">
					  <input type="text" class="form-control" name="subject" id="subject" placeholder="Password" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
					  <div class="validation"></div>
					</div>
					<div class="form-group">
					  <input type="number" class="form-control" name="subject" id="subject" placeholder="Verification number" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
					  <div class="validation"></div>
					</div>
					</div>
			  </div>
			  <div class="text-center"><button type="submit">Submit</button></div>
			</form>
			<!--</div>-->

		  </div>
		</div>
    </section>


	<section id="contact">
      <div class="container wow fadeInUp">

      </div>



      <div class="container wow fadeInUp">
        <!--<div class=" justify-content-center">-->
		<div class="form">

		<div id="sendmessage">Your message has been sent. Thank you!</div>
		 <div id="errormessage"></div>
		<form action="" method="post" role="form" class="contactForm">
		<div class='row'>
			 <div class="col-lg-6 col-md-6">

				  <h3 style="text-align:center;">Resume for Submission</h3>

					<div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="About"></textarea>
                  <div class="validation"></div>
                </div>
					</div>
            <div class="col-lg-1 col-md-1"></div>

				<div class="col-lg-5 col-md-5">
		  <h2 style="padding-left:70px;">Status</h2>
		  <div class="select form-group" style="width:250px;" align="center">
			<select name="slct" id="slct" required>
			  <option value="">Select Option...</option>
			  <option value="1">Unemployed</option>
			  <option value="2">Studying</option>
			  <option value="3">NSmen</option>
			  <option value="4">Employed</option>
			</select>
		   </div>
		   <div style="height:20px;font-size:1px;">&nbsp;</div>


		    <input style="width:250px;font-size:15pt;padding:2px; border:3px solid;background-color:#FFF;" type='file' onchange="readURL(this);" accept="image/*" required />
			<div style="width:250px;height:212px;border:2px solid;background-color:#FFF;">
			<img id="Image" src="#" alt="" />
			</div>


		   </div>

			  </div>
			  <div class="text-center"><button type="submit">Send Application</button></div>
			</form>
			<!--</div>-->

		  </div>
		</div>
    </section>
  </main>
{% endblock %}
{% block additionalscripts %}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Image')
                    .attr('src', e.target.result)
                    .width(250)
                    .height(212);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
{% endblock %}
