{% extends "index.html" %}

{% block inlinecss %}
    <style>
        /* CSS for My Contacts */
        table{
            font-family: Arial, Sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th{
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){
            background-color: #dddddd;
        }

        /* CSS for Chat Messenger */
        div.message_holder{
            background-color: #ddd;
            padding: 5px 10px;
            border-radius: 10px;
            color: #555;
            margin-bottom: 5px;
        }

        #chatbox{
            border: 5px lightgrey solid;
            border-radius: 5px;
            padding:75px;
            position: relative;
            top: 75px;
            margin: auto;
        }

        #button{
            height: 60px;
        }

        #textbox{
            padding: 10px;
            margin: auto;
            background-color: lightgrey;
        }

        #mycontacts{
          position: relative;
          top: 88px;

        }
    </style>
{% endblock %}

{% block body %}
  </head>
  <body>
    <br><br><br><br><br>
    <div id="textbox" class="text-center well" style="margin: auto"><b>Chat Messenger</b></div><br>

    <div class="container">
      <div class="col-sm-4">
        <div class="no_message">
          <h1 style='color: #ccc'>No message yet..</h1>
          <div class="message_holder"></div>
        </div>
      </div>
      <div id="chatbox" class="col-sm-4">
        <form action="" method="POST">
            <h4><b>Type your message below<span class="glyphicon glyphicon-arrow-down"></span></b></h4>
          <div class="clearfix" style="margin-top: 5px;"></div>
          <input type="text" class="username form-control input-lg" placeholder="User Name" required>
          <div style="padding-top: 5px;"></div>
          <input type="text" class="message form-control input-lg" placeholder="Messages" required>
          <div style="padding-top: 5px;"></div>
          <button type="submit" id="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-send"></span> Send</button>
        </form>
      </div>
    </div>
     <div class="container" id="mycontacts">
      <div class="col-sm-4">
          <h2>My Contacts</h2>
          <input id="myInput" type="text" placeholder="Search...">
          <table>
              <thead>
              <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
              </tr>
              </thead>
              <tbody id="myTable">
              <tr>
                  <td>John</td>
                  <td>Lim</td>
                  <td>johnlim@nyp.edu.sg</td>
              </tr>
              <tr>
                  <td>Albert</td>
                  <td>Chia</td>
                  <td>albertchina@gmail.com</td>
              </tr>
              <tr>
                  <td>Brandon</td>
                  <td>Chow</td>
                  <td>branbran@student.edu.sg</td>
              </tr>
              <tr>
                  <td>Keith</td>
                  <td>Lee</td>
                  <td>keithlee97@hotmail.com</td>
              </tr>
              </tbody>
          </table>
      </div>
    </div>


    <br><br><br><br><br><br>

    {% endblock %}


    <!-- API Javascript -->
    {% block additionalscripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>


    <!-- Internal Javascript for Chat Messenger -->
    <script>
      var socket = io.connect( 'http://' + document.domain + ':' + location.port )
      // broadcast a message
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          // empty the input field
          $( 'input.message' ).val( '' ).focus()
        } )
      } )

      // capture message
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h1' ).remove()
          $( 'div.message_holder' ).append( '<div class="msg_bbl"><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
            
        }
      } )
    </script>

    <!-- jQuery for Filter Contacts -->
    <script>
       $(document).ready(function(){
           $("#myInput").on("keyup", function() {
       var value = $(this).val().toLowerCase();
       $("#myTable tr").filter(function() {
         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
       });
     });
   });
    </script>
    {% endblock %}
  </body>
</html>