{% extends 'index.html' %}

{% block inlinecss %}
    <style>
        @media screen and (max-width: 768px) {
            h1 {
                margin-top: 20%;
            }
        }

        @media screen and (max-width: 1024px) and (min-width: 768px) {
            h1 {
                margin-top: 15%;
            }
        }

        @media screen and (min-width: 1024px) {
            h1 {
                margin-top: 10%;
            }
        }
    </style>
{% endblock %}

{% block body %}
  <div class="container">
     <div class="row">
         <div class="col-12">
             <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
             <a class="btn btn-success" href="/articles"> View Articles</a>
             <hr>
         </div>
     </div>

     <div class="row">
        <table class="table table-striped">
          <tr>
             <th>Title</th>
             <th>Author</th>
             <th>Date</th>
             <th></th>
             <th></th>
          </tr>
          {% for article in articles %}
             <tr>
                <td>{{article.get_title()}}</td>
                <td>{{article.get_author()}}</td>
                <td>{{article.get_created_date()}}</td>
                <td><a href="edit_article/{{article.get_articleid()}}" class="btn btn-default pull-right">Edit</a></td>
                <td>
                   <form action="{{url_for('delete_article', id=article.get_articleid())}}" method="post">
                     <input type="hidden" name="_method" value="DELETE">
                     <input type="submit" value="Delete" class="btn btn-danger">
                   </form>
                </td>
             </tr>
          {% endfor %}
        </table>
     </div>
  </div>
    <br><br><br><br>
{% endblock %}