{% extends 'index.html' %}

{% block inlinecss %}
<style>
    @media screen and (max-width: 768px) {
        #top {
            margin-top: 20%;
        }

        #links-top {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: 1024px) and (min-width: 768px) {
        #top {
            margin-top: 15%;
            margin-bottom: 5%
        }
    }

    @media screen and (min-width: 1024px) {
        #top {
            margin-top: 12%;
            margin-bottom: 3%
        }
    }

    #footer {
        clear: both;
    }
</style>
{% endblock %}


{% block body %}
    <div class="container">
        <div id="top" class="row">
            <div class="col-md-5 col-xs-12 wow fadeInLeft">
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="../static/images/img_avatar1.png" alt="Card image">
                    <div class="card-body">
                        {% if session["data"]["status"] == "user" %}
                            <h4 class="card-title">{{ session["data"]["firstname"] }} {{ session["data"]["lastname"] }}</h4>
                        {% elif session["data"]["status"] == "employer" %}
                            <h4 class="card-title">{{ session["data"]["company_name"] }}</h4>
                        {% endif %}
                        <p class="card-text">Last Login : {{ session["last_login"] }}</p>
                        <a href="#" class="btn btn-primary" style="width:100%">Edit Information</a>
                    </div>
                </div>
            </div>
            {% if session["data"]["status"] == "user" %}
                <div class="col-md-7 col-xs-12">
                <div class="card bg-primary text-white wow fadeInRight " data-wow-delay="0.15s" id="links-top"
                     style="width:100%; height:30%">
                    <div class="card-body">
                        <h3>Create & Print Resume</h3>
                        <h5>Click here to create and print your resume into a PDF form if you do not want to use our
                            services</h5>
                    </div>
                </div>
                <div class="card bg-success text-white wow fadeInRight" data-wow-delay="0.4s"
                     style="width:100%; margin-top: 30px; height:30%">
                    <div class="card-body">
                        <h3>Search for jobs</h3>
                        <h5>Click here to search for jobs that you are interested in.</h5>
                    </div>
                </div>
            {% elif session["data"]["status"] == "employer" %}
                <div class="col-md-7 col-xs-12">
                <div class="card bg-primary text-white wow fadeInRight " data-wow-delay="0.15s" id="links-top"
                     style="width:100%; height:30%">
                    <div class="card-body">
                        <h3>Create Job Post</h3>
                        <h5>Click here to create a job posting</h5>
                    </div>
                </div>
                <div class="card bg-success text-white wow fadeInRight" data-wow-delay="0.4s"
                     style="width:100%; margin-top: 30px; height:30%">
                    <div class="card-body">
                        <h3>Edit Job Post</h3>
                        <h5>Click here to edit jobs that you have posted</h5>
                    </div>
                </div>
            {% endif %}

            <div class="card bg-info text-white wow fadeInRight" data-wow-delay="0.65s"
                 style="width:100%; margin-top: 30px; height:30%;">
                <div class="card-body">
                    <h3>F.A.Q</h3>
                    <h5>Click here for fequently asked questions</h5>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block additionalscripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock %}
