﻿{% extends 'index.html' %}

{% block inlinecss %}
<style>
    .home {
        padding-top: 100px;
    }

    .box3 {
        height: 300px;
        border : 3px black solid;
        margin-top : 70px;
        margin-bottom : 50px;
    }

    .box2 {
        height: 500px;
        border : 3px black solid;
        margin-top : 50px;
    }

    .box1 {
        margin-top : 50px;
        margin-bottom : 50px;
        height: 870px;
        border : 3px black solid;
    }

    .home-header {
        height : 50px;
        border-bottom-color: #000;
        border-bottom-style : solid;
        float : left;
        vertical-align: middle;
    }

    /*@media (max-width: 576px) {
        .container {
            width: 50%;
            height: 50px;
            border-bottom-color: #000;
            border-bottom-style: solid;
            float: left;
            vertical-align: middle;
        }
    }
*/
</style>

{% endblock %}

{% block body %}
    <main id="main">
        <div class="container home">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <div class="container box1">

                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4 col-md-10">
                    <div class="row">
                        <div class="container box2">
                            <div class="row">
                                <div class="container-fluid home-header">
                                    Notifications
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    No New Notifications
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container box3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}