<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Regna Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="../static/images/MyPortfolioLogo.png" rel="icon">
    <link href="../static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
<section id="hero">
    <div class="hero-container">
        <div class="container" id="login">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-xs-12">
                    <div class="jumbotron" style="margin-top : 25px">
                        <form action = "http://127.0.0.1:5000/home" method = "post" class="container" id="login_page" novalidate>
                            <div class="row">
                                <div class="col-12">
                                    <img src="../static/images/MyPortfolioLogo.png" style="height:35% ; width:35%">
                                    <br>
                                    <br>
                                    <label class="wow fadeInUp" data-wow-delay="0.05s">User Name:</label>
                                    <input type="text" class="form-control wow fadeInUp" data-wow-delay="0.1s"
                                           name="login_username" placeholder="Username" required>
                                    <div class="invalid-feedback">Invalid Username!</div>
                                    <br>
                                    <label class="wow fadeInUp" data-wow-delay="0.15s">Password:</label>
                                    <input type="password" class="form-control wow fadeInUp" data-wow-delay="0.2s"
                                           name="login_password" placeholder="Password" required>
                                    <div class="invalid-feedback">Invalid Password!</div>
                                    <br>
                                    <br>
                                    <button id="login_button" type="submit" class="btn btn-primary wow fadeInUp"
                                            data-wow-delay="0.3s" style="width:30%">Submit
                                    </button>
                                    <br>
                                    <br>
                                    <br>
                                    <h6 class="wow fadeInUp" data-wow-delay="0.35s">Don't have an account? Register with
                                        us <a id="register"><u style="cursor:pointer">here!</u></a></h6>
                                </div>
                            </div>
                        </form>

                        <form action = "http://127.0.0.1:5000/login_register" method = "post" class="form box" id="register_page" style="display:none" novalidate>
                            <div class="row">
                                <div class="col-12">
                                    <label class="wow fadeInUp" data-wow-delay="0.05s">User Name:</label>
                                    <input type="text" class="form-control wow fadeInUp" data-wow-delay="0.10s"
                                           name="register_username" placeholder="Username" required>
                                    <div class="invalid-feedback">Invalid Username!</div>
                                    <br>
                                    <label class="wow fadeInUp" data-wow-delay="0.15s">Password:</label>
                                    <input type="password" class="form-control wow fadeInUp" data-wow-delay="0.2s"
                                           name="register_password" placeholder="Password" required>
                                    <div class="invalid-feedback">Invalid Password!</div>
                                    <br>
                                    <label class="wow fadeInUp" data-wow-delay="0.15s">Confirm
                                        Password:</label>
                                    <input type="password" class="form-control wow fadeInUp" data-wow-delay="0.2s"
                                           name="register_confirmpassword" placeholder="Confirm Password" required>
                                    <div class="invalid-feedback">Invalid Password!</div>
                                    <br>
                                    <label class="wow fadeInUp" data-wow-delay="0.25s">Email:</label>
                                    <input type="email" class="form-control wow fadeInUp" data-wow-delay="0.3s"
                                           name="register_email" placeholder="Email" required>
                                    <div class="invalid-feedback">Invalid Email!</div>
                                    <br>
                                    <button type="submit" class="btn btn-primary wow fadeInUp" data-wow-delay="0.35s"
                                            style="width:30%">Register
                                    </button>
                                    <br>
                                    <br>
                                    <h6 id="back" class="wow fadeInUp" data-wow-delay="0.4s"><u
                                            style="cursor:pointer">Back</u></h6>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
<!-- JavaScript Libraries -->
<script src="../static/js/jquery/jquery.min.js"></script>
<script src="../static/js/jquery/jquery-migrate.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../static/js/easing/easing.min.js"></script>
<script src="../static/js/wow/wow.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

<script src="../static/js/waypoints/waypoints.min.js"></script>
<script src="../static/js/counterup/counterup.min.js"></script>
<script src="../static/js/superfish/hoverIntent.js"></script>
<script src="../static/js/superfish/superfish.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="../static/js/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="../static/js/main.js"></script>
<script>
    $(document).ready(function () {
        $("#header").remove();
        $("#footer").remove();
        $("#register_page").hide();
        $("#login_page").preventDefault();
    });
    $("#register").click(function () {
        $("#login_page").hide();
        $("#register_page").fadeIn();
    });
    $("#back").click(function () {
        $("#register_page").hide();
        $("#login_page").fadeIn();
    });
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var form = document.getElementById('login_page');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var form = document.getElementById('register_page');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();

</script>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


</body>
</html>