{% extends "index.html" %}

{% block body %}


    <section id="hero">
        <div class="hero-container">
            <div class="container" id="login">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 col-xs-12">
                        <div class="jumbotron">
                            <form class="form box" id="login_page">
                                <img src="../static/images/MyPortfolioLogo.png" style="height:20% ; width:20%">
                                <br>
                                <br>
                                <br>
                                <label class="wow fadeInUp" data-wow-delay="0.05s" for="email">User Name:</label>
                                <input type="email" class="form-control wow fadeInUp" data-wow-delay="0.1s" id="user_id">
                                <label class="wow fadeInUp" data-wow-delay="0.15s" for="pwd">Password:</label>
                                <input type="password" class="form-control wow fadeInUp" data-wow-delay="0.2s" id="user_pwd">
                                <br>
                                <div class="form-check">
                                    <label class="form-check-label wow fadeInUp" data-wow-delay="0.25s">
                                        <input class="form-check-input wow fadeInUp" data-wow-delay="0.25s" type="checkbox"> Remember me
                                    </label>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary wow fadeInUp" data-wow-delay="0.3s" style="width:30%">Submit</button>
                                <br>
                                <br>
                                <h6 class="wow fadeInUp" data-wow-delay="0.35s">Don't have an account? Register with us <a id="register"><u style="cursor:pointer">here!</u></a></h6>

                            </form>

                            <form class="form box" id="register_page">
                                <img src="../static/images/MyPortfolioLogo.png" style="height:20% ; width:20%">
                                <br>
                                <br>
                                <br>
                                <label class="wow fadeInUp" data-wow-delay="0.05s" for="email">User Name:</label>
                                <input type="email" class="form-control wow fadeInUp" data-wow-delay="0.10s" id="user_id">
                                <label for="pwd" class="wow fadeInUp" data-wow-delay="0.15s">Password:</label>
                                <input type="password" class="form-control wow fadeInUp" data-wow-delay="0.2s" id="user_pwd">
                                <label for="pwd" class="wow fadeInUp" data-wow-delay="0.25s">Email:</label>
                                <input type="email" class="form-control wow fadeInUp" data-wow-delay="0.3s" id="user_pwd">
                                <br>
                                <button type="submit" class="btn btn-primary wow fadeInUp" data-wow-delay="0.35s" style="width:30%">Register!</button>
                                <br>
                                <br>
                                <h6 id="back" class="wow fadeInUp" data-wow-delay="0.4s"><u style="cursor:pointer">Back</u></h6>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block additionalscripts %}
    <script>
        $("document").ready(function () {
            $("#header").remove();
            $("#footer").remove();
            $("#register_page").hide();
        });
        $("#register").click(function () {
            $("#login_page").hide();
            $("#register_page").fadeIn();
        });
        $("#back").click(function () {
            $("#register_page").hide();
            $("#login_page").fadeIn();
        })
    </script>

{% endblock %}