{% extends "index.html" %}

{% block inlinecss %}
    <style>
        @media screen and (max-width: 768px) {
            h1 {
                margin-top: 20%;
            }

            table {
                text-align: center;
            }

        }

        @media screen and (max-width: 1024px) and (min-width: 768px) {
            h1 {
                margin-top: 15%;
            }
        }

        @media screen and (min-width: 1024px) {
            h1 {
                margin-top: 10%;
            }
        }

        .modal-open {
            overflow-y: auto
        }

        .modal-lg {
            max-width: 80% !important;
        }

        /*.collapsing_button[aria-expanded="false"]:before {
            content: "Show Company Details";
        }

        .collapsing_button[aria-expanded="true"]:before {
            content: "Hide Company Details";
        }*/

        ::-webkit-scrollbar {
            display: none;
        }

    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Search Jobs</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-bordered table-hover" style="margin-bottom : 5%">
                    <thead class="thead-dark" style="background-color: black ; color:white">
                    <tr>
                        <td style="width:30% ; text-align: center ; vertical-align: middle"><b>Job Title</b></td>
                        <td style="width:30% ; text-align: center ; vertical-align: middle "><b>Company</b></td>
                        <td style="width:25% ; text-align: center ; vertical-align: middle"><b>Date</b></td>
                        <td style="width:15% ; text-align: center ; vertical-align: middle"><b>Choice</b></td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in jobs %}
                            <tr>
                                <td style="text-align: center ; vertical-align: middle">{{ jobs[i]["job_title"].capitalize() }}</td>
                                <td style="text-align: center ; vertical-align: middle">{{ jobs[i]["company_name"].capitalize() }}</td>
                                <td style="text-align: center ; vertical-align: middle">{{ jobs[i]["date"] }}</td>
                                <td style="text-align: center ; vertical-align: middle">
                                    <button id="btn{{ i }}" class="btn btn-primary" data-toggle="modal"
                                            data-target="#{{ i }}">View
                                        Details
                                    </button>
                                </td>
                                <div class="modal fade" id="{{ i }}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><b>{{ jobs[i]["job_title"].capitalize() }}</b>
                                                </h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                            </div>
                                            <br>
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12">
                                                            <h6><b>Job Title</b>
                                                                : {{ jobs[i]["job_title"].capitalize() }}</h6>
                                                        </div>
                                                        <br><br><br>
                                                        <div class="col-md-6 col-xs-12">
                                                            <h6><b>Qualification</b>
                                                                : {{ jobs[i]["qualification"].capitalize() }}</h6>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12">
                                                            <h6><b>Location</b> : {{ jobs[i]["location"].capitalize() }}
                                                            </h6>
                                                        </div>
                                                        <br><br><br>
                                                        <div class="col-md-6 col-xs-12">
                                                            <h6><b>Salary</b> : {{ jobs[i]["salary"] }}</h6>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12">
                                                            <h6><b>Employment Type</b>
                                                                : {{ jobs[i]["employment_type"].capitalize() }}</h6>
                                                        </div>
                                                        <br><br><br>
                                                        <div class="col-md-6 col-xs-12">
                                                            {% if jobs[i]["contract_time"] != "" %}
                                                                <h6><b>Contract Time</b>
                                                                    : {{ jobs[i]["contract_time"] }}</h6>
                                                            {% else %}
                                                                <h6><b>Contract Time : Not Applicable</b></h6>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h6><b>Location
                                                                : </b> {{ jobs[i]["location"].capitalize() }}</h6>
                                                        </div>

                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for id="dec{{ i }}"><b>Job Description</b> : </label>
                                                            <textarea class="form-control"
                                                                      style="resize : none; overflow-x : hidden"
                                                                      cols="9" rows="5" id="dec{{ i }}"
                                                                      readonly>{{ jobs[i]["job_dec"] }}</textarea>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="row">
                                                        <div id="map{{ i }}"
                                                             style="width:98%; height:400px;margin-left: auto;margin-right:auto">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button class="btn btn-warning collapsing_button"
                                                                    style="width:100%"
                                                                    data-toggle="collapse"
                                                                    data-target="#collapse{{ i }}">
                                                                Show Company Details
                                                            </button>
                                                            <br>
                                                            <br>
                                                            <div id="collapse{{ i }}" class="collapse">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-xs-12">
                                                                            <h6><b>Company Name</b>
                                                                                : {{ jobs[i]["company_name"] }}</h6>
                                                                        </div>
                                                                        <br>
                                                                        <div class="col-md-6 col-xs-12">
                                                                            <h6><b>Company Tel</b>
                                                                                : {{ jobs[i]["company_tel"] }}</h6>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-xs-12">
                                                                            <h6><b>Company Industry</b>
                                                                                : {{ jobs[i]["company_industry"] }}</h6>
                                                                        </div>
                                                                        <div class="col-md-6 col-xs-12">
                                                                            <h6><b>Company Email</b>
                                                                                : {{ jobs[i]["company_email"] }}</h6>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <h6><b>Company Bio</b>
                                                                                : {{ jobs[i]["company_bio"] }}</h6>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <h6><b>Company Address</b>
                                                                                : {{ jobs[i]["company_address"] }}</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer" style="text-align: center">
                                                <a href="{{ url_for("apply_job", post_id = i) }}" style="width:50%">
                                                <button type="button" class="btn btn-danger" style="width:100%">Apply
                                                </button>
                                                </a>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                        style="width:50%">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block additionalscripts %}
    <script type="text/javascript">
        function mapAddress(mapElement, address) {
            var mapOptions = {
                zoom: 15,
                center: address,
                gestureHandling: 'greedy'
            };
            console.log(mapOptions);
            var map = new google.maps.Map(document.getElementById(mapElement), mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: address
            });
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }

        function formats(id, lat, lng) {
            console.log(id, lat, lng);
            var map = "map";
            var formatted_id = map.concat(id);
            var address = {lat: parseFloat(lat), lng: parseFloat(lng)};
            mapAddress(formatted_id, address);
        }
        {% for i in jobs %}
            $('#{{ i }}').on('shown.bs.modal', function (e) {
                formats('{{ i }}', {{ jobs[i]["lat"] }}, {{ jobs[i]["lng"] }});
                google.maps.event.trigger(map, 'resize');
            });
        {% endfor %}

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuKc700OWcOyHcuBQ_9mQWSgmOsYKHI7c">
    </script>
{% endblock %}