{% extends 'index.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <h1>New Blog</h1>
    <form method="POST" action="">

        <div class="form-group">
            <div class="form-row">
                {{ render_field(form.blogtype, class_="radio-inline") }}
            </div>
        </div>

        <div class="form-group">
            {{ render_field(form.title, class_="form-control") }}
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ render_field(form.category, class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ render_field(form.publisher, class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ render_field(form.status, class_="form-control") }}
                </div>

            </div>
        </div>


        <div id="business">
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ render_field(form.isbn, class_="form-control") }}

                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(form.author, class_="form-control") }}

                    </div>
                </div>
            </div>

            <div class="form-group">

                {{ render_field(form.synopsis, class_="form-control") }}


            </div>
        </div>

        <div id="leisure">
            <div class="form-group">

                {{ render_field(form.frequency, class_="radio-inline") }}

            </div>
        </div>


        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-11">


                </div>
                <div class="form-group col-md-1">
                    <input type="submit" value="Update" class="btn btn-info"/>
                </div>
            </div>
        </div>

    </form>


{% endblock %}

{% block additionalscripts %}
    <script>
        $(document).ready(function () {
            var blogType = $('input[name=blogtype]:checked').val();
            if (blogType == 'business') {
                $('#business').show();
                $('#leisure').hide();
            } else {
                $('#leisure').show();
                $('#business').hide();
            }
        });
    </script>
{% endblock %}